{% from "icon.njk" import icon with context %}
<footer class="footer">
  <p class="footer-credit">
    Made with ❤️ by the
    <a class="link" href="https://urbanistportland.me">Urbanist Coalition of Portland</a>.
    Not affiliated with GPMetro.
  </p>
  <a class="footer-social" href="https://www.instagram.com/urbanistportland.me/">
    {{ icon("instagram", 20) }} Follow us on Instagram
  </a>
  <img class="footer-logo" src="/UCP_logo.png" alt="UCP Logo" width="32" />
</footer>
