node_modules
.next
.git
.env*
*.log
coverage
.nyc_output
.DS_Store
.vscode
README.md
.gitignore
docker-compose.yml
Dockerfile
_data
public/_data
src/_data
*.tfstate*
.terraform
certs
vhost.d
html
acme